:root {
    --mainColor: #22577A;
    --secondaryColor: #38A3A5;
    --tertiaryColor: #57CC99;
    --tertiaryLightColor: #80ED99;
    --tertiaryLighterColor: #C7F9CC;
    --white: #ffffff;
    --headerFont: "Exo 2";
    --textFont: "Outfit";
}

@import url(fonts.css);

body {
    background: rgb(34,87,122);
    background: linear-gradient(90deg, rgba(34,87,122,1) 0%, rgba(56,163,165,1) 35%, rgba(87,204,153,1) 100%);
}